* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'segoe ui', Arial, sans-serif;
}

svg {
    display: block;
    width: 24px;
    height: 24px;
}

a {
    color: #2196f3;
    text-decoration: none;
}

.toggle-menu {
    display: none;
}

.brand a {
    font-weight: 600;
}

header {
    max-width: 960px;
    margin: auto;
    display: flex;
    align-items: center;
}

.brand {
    flex: 1;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    font-weight: 600;
    transition: .3s ease-in-out;
    border-top: 4px solid transparent;
}

.menu a:hover {
    border-color: #f42;
    color: #f42;
}

@media screen and (max-width: 767px) {
    header {
        flex-direction: column;        
    }

    .brand {
        width: 100%;        
        padding: 8px 16px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
    }

    .brand a {
        flex: 1;
    }

    .toggle-menu {
        display: block;
        border: none;
        outline: none;
        background-color: #fff;
        padding: 8px;
        fill: #2196f3;
        cursor: pointer;
    }

    .menu {
        background-color: #2196f3;   
        display: none;     
        width: 100%;
    }

    .menu.show-menu {
        display: block;
    }

    .menu li {
        width: 100%;        
    }

    .menu a {
        color: #fff;
        border: none;
    }

    .menu a:hover {
        color: #fff;
        border: none;
    }
}